<div id="content" class="heroes-export {class}">
    <div class="actions">
        <div class="icons">
            <form action="/heroes-export.html/export" method="post" id="export" enctype="multipart/form-data">
                <label>
                    <span>Sélectionner les fichiers</span>
                    <span class="counter">0</span>
                    <input type="file" name="heroes[]" />
                </label>
                <ul class="files"></ul>
                <button type="submit">
                    <img src="/assets/img/download-white.png" class="icon" alt="download"/>
                </button>
            </form>
            <img src="/assets/img/refresh-white.png" class="icon" id="refresh" alt="refresh"/>
        </div>
    </div>
    <div id="remarks">
        <span>Quelques informations: </span><br/>
        <ul>
            <li>Vous devez prendre des captures d'écran de tous les héros que vous voulez exporter.</li>
            <li>Veillez à ce que vos héros apparaissent en entier, les héros partiellement affichés seront ignorés.</li>
            <li>Les héros seront triés par couleur et dans l'ordre des fichiers.</li>
            <li>Vous pouvez sélectionner plusieurs fichiers.</li>
            <li>Vous cliquer sur un fichier sélectionné pour le supprimé.</li>
            <li>Une fois exporté, cliquez sur les images pour les télécharger.</li>
        </ul>
    </div>
    <div id="loader">
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="heroes">
        <template id="heroes">
            <form action="/heroes-export.html/download" method="post" data-size="{size}">
                <input type="hidden" name="key" value="{file}"/>
                <input type="hidden" name="color" value="{color}"/>
                <button type="submit">
                    <img src="/temp/{file}" alt=""/>
                </button>
            </form>
        </template>
    </div>
</div>

<template ref="javascripts">
    <script src="/assets/js/heroes-export.js"></script>
</template>