<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <title>Empire &amp; Puzzles - {title}</title>

        <link rel="shortcut icon" href="/assets/img/icon/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/assets/img/icon/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icon/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon/apple-touch-icon-180x180.png" />

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/cropper.min.css"/>
        <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css"/>
        <link rel="stylesheet" href="/assets/css/styles.css?version=1.0.1"/>
    </head>
    <body>
        <div id="page">
            <h1>{title}</h1>
            <template id="menu" />
            <template id="content" />
        </div>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <script src="/assets/js/cropper.min.js"></script>
        <script src="/assets/js/jquery.datetimepicker.full.min.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/app.js?version=1.0.1"></script>
        <template id="javascripts" />
    </body>
</html>